apiVersion: v1
kind: Service
metadata:
  name: demo-flask
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "80"
spec:
  selector:
    app: demo-flask
  ports:
  - port: 80
    targetPort: 5000
  type: ClusterIP
